# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# VSCode
.vscode/

# Virtual environments
env/
venv/
.venv/
ENV/
*.env
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output logs, model files
*.log
*.pkl
*.sav
*.joblib

# Result
result/*.txt

# OS
.DS_Store
Thumbs.db
desktop.ini
